<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div
    class="mt-7 bg-white border border-gray-200 min-w-[400px] rounded-xl shadow-sm"
  >
    <div class="p-4 sm:p-7">
      <div class="text-center">
        <h1 class="block text-2xl font-bold text-gray-800">Sign in</h1>
        <p class="mt-2 text-sm text-gray-600">
          Don't have an account yet?
          <a
            class="text-blue-600 decoration-2 hover:underline focus:outline-none focus:underline font-medium"
            href="/signup"
          >
            Sign up here
          </a>
        </p>
      </div>

      <div class="mt-5">
        <button
          type="button"
          class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 focus:outline-none focus:bg-gray-50"
        >
          <!-- Google icon omitted for brevity -->
          Sign in with Google
        </button>

        <div
          class="py-3 flex items-center text-xs text-gray-400 uppercase before:flex-1 before:border-t before:border-gray-200 before:me-6 after:flex-1 after:border-t after:border-gray-200 after:ms-6"
        >
          Or
        </div>

        <!-- Form -->
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="grid gap-y-4">
            <!-- Email Input -->
            <div>
              <label for="email" class="block text-sm mb-2"
                >Email address</label
              >
              <div class="relative border rounded-lg">
                <input
                  type="email"
                  id="email"
                  formControlName="email"
                  class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500"
                  aria-describedby="email-error"
                />
                <div
                  *ngIf="
                    loginForm.get('email')?.invalid &&
                    loginForm.get('email')?.touched
                  "
                  class="text-xs text-red-600 mt-2"
                >
                  Please enter a valid email address.
                </div>
              </div>
            </div>

            <!-- Password Input -->
            <div>
              <div class="flex justify-between items-center">
                <label for="password" class="block text-sm mb-2"
                  >Password</label
                >
                <a
                  class="text-sm text-blue-600 decoration-2 hover:underline font-medium"
                  href="/forgot-password"
                  >Forgot password?</a
                >
              </div>
              <div class="relative border rounded-lg">
                <input
                  type="password"
                  id="password"
                  formControlName="password"
                  class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500"
                  aria-describedby="password-error"
                />
                <div
                  *ngIf="
                    loginForm.get('password')?.invalid &&
                    loginForm.get('password')?.touched
                  "
                  class="text-xs text-red-600 mt-2"
                >
                  Password must be at least 8 characters long.
                </div>
              </div>
            </div>

            <!-- Remember Me Checkbox -->
            <div class="flex items-center">
              <input
                id="remember-me"
                type="checkbox"
                formControlName="rememberMe"
                class="shrink-0 mt-0.5 border-gray-200 rounded text-blue-600 focus:ring-blue-500"
              />
              <label for="remember-me" class="ml-3 text-sm">Remember me</label>
            </div>

            <!-- Submit Button -->
            <button
              *ngIf="!isLoading"
              type="submit"
              [disabled]="loginForm.invalid"
              class="w-full py-3 px-4 text-sm font-medium rounded-lg bg-blue-600 text-white hover:bg-blue-700 focus:outline-none"
            >
              <span> Sign in </span>
            </button>
            @if (isLoading) {
            <div
              class="w-full py-3 px-4 rounded-lg bg-blue-200 focus:outline-none flex justify-center"
            >
              <mat-progress-spinner
                [diameter]="24"
                [mode]="'indeterminate'"
              ></mat-progress-spinner>
            </div>
            } @if (errMessage) {
            <div
              class="bg-red-100 border text-center border-red-400 text-red-700 px-4 py-3 rounded relative"
              role="alert"
            >
              <strong class="font-bold">Login Gagal! </strong>
              <span class="block sm:inline"> {{ errMessage }}</span>
            </div>

            }
          </div>
        </form>
        <!-- End Form -->
      </div>
    </div>
  </div>
</div>
